<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:registry protocol="zookeeper" address="${dubbo.protocol.zookeeper}" client="curator" />

    <dubbo:application name="${dubbo.application.name}"  />

    <dubbo:protocol name="dubbo" port="${dubbo.application.port}" />

    <!--<dubbo:service interface="ip.black.list.service.api.protocol.ApplicationDubboService"-->
                   <!--ref="applicationDubboService" group="${dubbo.registry.group}" />-->

    <dubbo:service interface="ip.black.list.service.api.protocol.IpBlackListDubboService"
                   ref="ipBlackListDubboService" group="${dubbo.registry.group}" />

</beans>
